name: Build APK Auto Detect

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: List Projects
        run: ./gradlew projects

      - name: Find Android Application Module
        id: find_module
        shell: bash
        run: |
          MODULE=$(./gradlew projects | grep "Project ':" | awk -F"'" '{print $2}' | head -n 1)
          echo "Detected module: $MODULE"
          echo "module_name=$MODULE" >> $GITHUB_OUTPUT

      - name: List Tasks
        run: ./gradlew ${{ steps.find_module.outputs.module_name }}:tasks --all

      - name: Build APK
        run: ./gradlew ${{ steps.find_module.outputs.module_name }}:assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: |
            **/build/outputs/apk/debug/*.apk
